<% include partials/header %>

<h1>Phonebook</h1>

<a href="/phonebook/new"> Add a new entry</a>

<div>
    <% entry.forEach(function(entry){ %>
    <li>
        <%= entry.name %> - <%= entry.number %> - <%= entry.email %>
        <a class="btn btn-xs btn-warning" href="/phonebook/<%=entry._id %>/edit">Edit</a>
        <form action="/phonebook/<%=entry._id %>/?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-xs btn-danger" value="DELETE">
        </form>
    </li>
    <% }); %>
</div>
<% include partials/footer %>
